<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Make a New Survey Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <!-- ADD OPTIONS TO AN EXISTING SURVEY FORM -->
    <form action="/addoptions/<%=surveyid%>" method="post">
        <div>Survey Question: ADCLJN</div>      
        <div class="form-group">
            <label>Options To Add:</label>
            <input type="text" class="form-control" name="options[1]">
            <input type="text" class="form-control" name="options[2]">
            <input type="text" class="form-control" name="options[3]">
            <input type="text" class="form-control" name="options[4]">
            <input type="text" class="form-control" name="options[5]">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Apply</button>
    </form>

    <hr>


</div>

</div>
</body>
<script>
var countBox =5;
var boxName = 0;
function addInput()
{
     var boxName="options["+countBox+"]"; 
document.getElementById('more-boxes').innerHTML+='<input type="text" class="form-control" name="'+boxName+'"  />';
     countBox += 1;
}
</script>
</html>
