<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Make a New Survey Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <!-- MAKE A NEW SURVEY FORM -->
    <form action="/makesurvey" method="post">
        <div class="form-group">
            <label>Survey Question</label>
            <input type="text" class="form-control" name="question">
        </div>      
        <div class="form-group">
            <label>List of Survey Options (up to 5 - maybe will add more later)</label>
            <input type="text" class="form-control" name="option1">
            <input type="text" class="form-control" name="option2">
            <input type="text" class="form-control" name="option3">
            <input type="text" class="form-control" name="option4">
            <input type="text" class="form-control" name="option5">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Make the Survey!</button>
    </form>

    <hr>


</div>

</div>
</body>
</html>
