<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Make a New Survey Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>

    <script>
    var countBox =5;
    var boxName = 0;
    function addInput()
    {
        console.log("IN AFDL");
        var tag = document.createElement('input'); // Create a `input` element,
        tag.setAttribute('type', 'text');          // Set it's `type` attribute,
        tag.setAttribute('name', "options["+countBox+"]");               // Set it's `name` attribute,
        var y = document.getElementById("more-boxes");      // "Get" the `y` element,
        y.appendChild(tag);                        // Append the input to `y`,
        countBox += 1;
    }

    </script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <!-- MAKE A NEW SURVEY FORM -->
    <form action="/makesurvey" method="post">
        <div class="form-group">
            <label>Survey Question</label>
            <input type="text" class="form-control" name="question">
        </div>      
        <div class="form-group">
            <label>Survey Options, in order</label>
            <% for (var i=0;i<5;i++){%>
                <input type="text" class="form-control" name="options[<%=i%>]">
            <%}%>
            <span id="more-boxes"></span>
        </div>
        <input type="button" onclick="addInput()" class="btn btn-warning btn-lg btn-space" value="Add Row"/>
        <br/>
        <button type="submit" class="btn btn-warning btn-lg btn-space">Make the Survey!</button>
    </form>

    <hr>


</div>

</div>
</body>

</html>
