<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Make a New Survey Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <!-- MAKE A NEW SURVEY FORM -->
    <form action="/makesurvey" method="post">
        <div class="form-group">
            <label>Survey Question</label>
            <input type="text" class="form-control" name="question">
        </div>      
        <div class="form-group">
            <label>List of Survey Options, in order (up to 5 - maybe will add more later)</label>
            <% for (var i=0;i<5;i++){%>
                <input type="text" class="form-control" name="option<%=i%>">
            <%}%>
            <span id="more-boxes"></span>
        </div>
        <input type="button" onclick="addInput()" class="btn btn-warning btn-lg" value="Add Another Option"/>
        <button type="submit" class="btn btn-warning btn-lg">Make the Survey!</button>
    </form>

    <hr>


</div>

</div>
</body>

<script>
var countBox =5;
var boxName = 0;
function addInput()
{
     var boxName="option"+countBox; 
document.getElementById('more-boxes').innerHTML+='<input type="text" class="form-control" name="'+boxName+'"  />';
     countBox += 1;
}
</script>
</html>
